
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

  body{
      font-family: 'Montserrat', sans-serif;
      margin:0px;
      padding:0px;
  }


.blog-container{
    padding:22px;
}

.blog-container img{
    display: block;
    margin: auto;
    width: 400px;
}

.center{
    text-align: center;
}