
.container {
    text-align: center;
    padding:17px 26px;

}


.navigation .brand {
    display:flex;
    justify-content: center;
    align-items: center;
    
}


.navigation ul{
    display:flex;
    justify-content: center;
    align-items: center;
}
.navigation li a{
    padding: 1rem;
    text-align:center;
}

/* project file */
.proj{
    padding:17px 35px;
}

/* blog-page */
.blog-container .items {
    display:flex;
    flex-direction: column;
}